<h1>Explorar</h1>
<p>Puedes elegir:</p>

<p>Tipo de turismo: <%= link_to('Playa', :controller => "sites", :action => "index", :tipositio => 4) %>, <%= link_to('Ciudad', :controller => "sites", :action => "index", :tipositio => 2) %> o <%= link_to('Rural', :controller => "sites", :action => "index", :tipositio => 3) %></p>

<p>Estación del año: <%= link_to('Primavera', :controller => "comments", :action => "index", :estacion => 2) %>, <%= link_to('Verano', :controller => "comments", :action => "index", :estacion => 3) %></p>
